torch==2.0.1+cpu
torchvision==0.15.2+cpu
opencv-python-headless
matplotlib
pandas
numpy<2
tqdm
scikit-learn
fastapi
uvicorn[standard]
python-multipart
Pillow
pydantic
httpx
pytest
aiofiles
python-dotenv
gunicorn
kagglehub
numpy<2
--find-links https://download.pytorch.org/whl/torch_stable.html
